body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 244, 255);

  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(0deg, rgb(175, 234, 255) 20%, rgb(220,255,233) 75%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.6;
}

A {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
  color: #3b3b3b;
}

#b1 {
  background: #5abdff;
}

#b1:disabled {
  opacity: 0.3;
  animation: none;
  color: gray;
}

#pricedesc {
  /*text-shadow:0 0 30px #ffffff;*/
  white-space: pre-line;
  color: #868686;
}



/* mobile */
@media screen and (max-width: 768px){
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .mb1 {
    font-size: x-large;
  }
}


/* mobile */
@media screen and (max-height: 729px){
  .footer {
    position: relative;
  }

  .mb1 {
    font-size: x-large;
  }
}
